/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex; /* Active Flexbox pour aligner les éléments */
    justify-content: center; /* Centre le corps horizontalement */  

}

.main-container {
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 1440px; /* Largeur maximale de 1440px */
    padding: 0 50px; /* Padding gauche et droite de 50px */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}    

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header-logo-menu ***********/

header {
    display: flex; /* Active Flexbox pour aligner les éléments sur une ligne */
    justify-content: space-between; /* Écarte le logo et la navigation aux extrémités */
    height: 79px; /* Hauteur du header */
    margin-bottom: 30px; /* Espace en dessous du header */
    
}

header img {
    width: 61.09px; /* Taille du logo comme dans l'image */
    height: 19px; /* Taille du logo comme dans l'image */
    padding-top: 30px; /* Ajoute de l'espace au-dessus du logo */
}

nav {
    display: flex; /* Active Flexbox pour la navigation */
    width: 244px; /* Largeur de la navigation */
    height: 35px; /* Hauteur de la navigation */
    padding-top: 0px; /* Ajoute de l'espace au-dessus de la navigation */
    gap: 68px; /* L'espacement entre les liens */
}

nav a {
  text-decoration: none; /* Pour enlever le soulignement */
  color: black; /* Couleur du texte */
  padding-top: 27px; /* Pour centrer verticalement les liens */
  position: relative; /* Indispensable pour positionner la ligne du hover */
}

nav a:hover {
  color: #0065FC; /* Change la couleur du texte au survol */
}

nav a::after {
  content: ""; /* Nécessaire pour afficher l'élément */
  position: absolute; /* Pour positionner la ligne par rapport au lien */
  top: 0; /* Positionne la ligne en haut du lien */
  left: 0;  /* Aligne la ligne à gauche du lien */
  width: 100%;  /* La ligne fait toute la largeur du lien */
  height: 2px;  /* Hauteur de la ligne */
  background-color: transparent; /* Couleur de la ligne (transparent par défaut) */
}

nav a:hover::after {
  background-color: #0065FC; /* Change la couleur de la ligne au survol */
}

/****** Section Formulaire ***********/
.section-search{
    display:flex; /* Active Flexbox pour aligner les éléments */
    flex-direction: column; /* Aligne les éléments en colonne */
    width: 100%; /* Prend toute la largeur disponible */
    height: 281px; /* Hauteur de la section */
    gap: 35px; /* Espace entre les éléments */
}

.div-search{
    display:flex; /* Active Flexbox pour aligner les éléments */
    flex-direction: column; /* Aligne les éléments en colonne */
    width: 100%; /* Prend toute la largeur disponible */
    gap: 8px; /* Espace entre les éléments */
    color: #000000; /* Couleur du texte */
}

h1 {
    height: 26px; /* Hauteur du titre */
    font-size: 22px; /* Taille de la police */
    font-weight: 700; /* Poids de la police */
    margin: 0; /* Enlève les marges par défaut */
    
}

.p-section-search {
    height: 19px; /* Hauteur du paragraphe */
    font-size: 16px; /* Taille de la police */
    font-weight: 400; /* Poids de la police */
    margin: 0; /* Enlève les marges par défaut */

}   

.form-search {
    display: flex; /* Active Flexbox pour aligner les éléments */
   /* margin: 0;  Enlève les marges par défaut */
    width: 377px; /* Largeur du formulaire */
    height:49px; /* Hauteur des colonnes */
    align-items: center;
}

.form-column {
    display: inline-block; /* Affiche les éléments en ligne */
    margin: 0; /* Enlève les marges par défaut */
    vertical-align: top; /*aligne les éléments en haut */
    height: 49px; /* Hauteur des colonnes */    
}

.settings-btn-1 {
    width: 50px; /* Largeur du bouton */
    height: 49px; /* Hauteur des colonnes */
    border-top-left-radius: 15px; /* Arrondi en haut à gauche */
    border-bottom-left-radius: 15px;
    border: 1px;
}

.settings-btn-1 i {
    display: inline-block;
    width: 14px;
    height: 18px;
    font-size: 18px;
    color: #000000; 
}

.settings-btn-2 {
    font-size: 18px;
    width: 195px;
    height: 49px; /* Hauteur des colonnes */
    border-style: solid;
    border: 1px;
    border-color: #F2F2F2;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding: 0 10px;
    
}

.settings-btn-3 {
    font-size: 18px;
    font-weight: 700;
    width: 132px;
    height: 49px; /* Hauteur des colonnes */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; /* Arrondi en bas à droite */
    border: 1px;
    background-color: #0065FC;
    color: #ffffff;
}

/****** filtres ***********/
.section-search h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.filtre-container {
    display: flex;
    gap: 15px; 
    align-items: center; 
}

.filtre-btn {
    display: flex; 
    align-items: center; 
    height: 50px;
    padding: 4px 19px; 
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-size: 17px; 
    font-weight: 700; 
    gap: 10px;
}

.filtre-btn:hover {
    background-color: #DEEBFF; /* Change la couleur de fond au survol */
}

.filtre-btn i {
    font-size: 22px;
}

.info-message {
    display: flex; 
    align-items: center; 
    margin-bottom: 35px;
    gap: 10px;
}

.info-message i {
    color: #0065FC;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.info-message p {
    margin: 0; 
    font-size: 16px; 
    font-weight: 400; 
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 40px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}